.card{
    min-height: 100%;
    width: 100%;
    background-color: rgba(235, 234, 233, 0.712);
    border-radius: 20px;
    overflow: hidden;

    &__flag-Box{
        min-height: 50%;

        &_flag{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    @media screen  and (max-width : 500px){
        width: 100vw;
    }
    
}

p{
    padding: 3px 10px;
    font-family: 'Josefin Slab', serif;
    font-size: 1.5rem;
}

li{
    padding: 0 10px;
    font-size: 1.5rem;
    font-family: 'Josefin Slab', serif;
}
